.wrapper{
    margin: auto;
    width: 70%;
    min-height: 200px;
    border: dashed 1px gray;
    border-radius: 15px;
}

li{
    margin-bottom: 15px;
}

.box{
    margin: auto;
    width: 70%;
    padding: 15px;
    background-color: rgb(220, 229, 240);
    border: solid 1px black;
}

input{
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea{
    padding: 15px;
}