<section class="welcome">

    <img src="../../assets/Pictures/WelcomePage/hiking-mammoth-mountain.jpg" alt="">
  
    <div id="slogan">
      <p>{{'WELCOME.SLOGAN' | translate}}</p>
    </div>
  
  </section>
  
  <div id="functions">
    <div class="content">
      <div class="slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/Pictures/WelcomePage/discover/photo_2020-06-22_15-58-56.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/discover/photo_2020-06-22_15-58-59 (2).jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/discover/photo_2020-06-22_15-59-04.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/discover/photo_2020-06-22_15-59-05.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/discover/photo_2020-06-22_15-59-07.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
          

      </div>
      <div class="describtion">
        <p>
          {{ 'CONTENT.DISCOVER' | translate}}
        </p>
      </div>
    </div>
    <div class="content">
      <div class="describtion">
        <p>
          {{'CONTENT.MAPS' | translate}}
        </p>
      </div>
      <div class="slider">
        <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/Pictures/WelcomePage/maps/photo_2020-06-22_15-58-58.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/maps/photo_2020-06-22_15-59-03.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/maps/photo_2020-06-22_15-59-04 (3).jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
  
    </div>
    <div class="content">
      <div #test1 class="slider">
        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/Pictures/WelcomePage/social/photo_2020-06-22_15-58-54.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/social/photo_2020-06-22_15-58-55.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/social/photo_2020-06-22_15-58-59.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Pictures/WelcomePage/social/photo_2020-06-22_15-59-05 (2).jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
      <div class="describtion">
        <p>
          {{'CONTENT.SOCIAL' | translate}}
        </p>
      </div>
    </div>
  </div>
